.App {
  text-align: center;
  padding-top: 4rem;
}

.content {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.content-box {
  height: 40rem;
  border: 1px solid white;
}



