.App {
  text-align: center;
  padding-top: 4rem;
}

.content {
  text-align: left;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-box {
  min-height: 40rem;
  width: 85%;
  max-width: 60rem;
  border: 1px solid white;
}

@media (min-width: 768px){
  h1 {
    font-size: 4rem;
    margin: 1rem 0;
  }
}




