.Navbar {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 100%;
    background-color: black;;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Links {
    list-style: none;
    width: 20rem;
    display: flex;
    justify-content: center;
    padding: 0;
}

.Navbar li {
    flex: 1;
}

.Navbar a {
    color: white;
    text-decoration: none;
    width: min-content;
}

.Links a:hover {
    color: gray;
}


