.Navbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border: 1px solid black;
    position: fixed;
}

.Links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
}

.Links a:hover {
    color: gray;
}


