.content-box{
    max-width: 60rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

#frontpage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
    border: none;
}

.title {
    margin-top: 2rem;
}

.title h1 {
    font-size: 4rem;
    margin: 1rem 0;
}

.title h2 {
    font-size: 2rem;
    color: rgb(184, 184, 184);
}

.info h2 {
    margin: 0;
}

.about-me h2 {
    text-decoration: underline;
}

.about-me p {
    font-size: 1.2rem;
}

.data h3 {
    margin: 0;
}

.data ul {
    margin-top: 0.5rem;
}

.data a {
    color: white;
}

.about-me a:visited {
    color: white;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data a:hover {
    color: gray;
}

.skills-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5rem 1rem;
}

.skills-list li {
    white-space: nowrap;
    flex: 0;
}

.social-list {
    padding: 0;
    list-style: none;
}

.social-list li {
    margin: 0.5rem 0;
}

.social-list a {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
}

.social-icon {
    height: 1rem;
    color: white;
}

@media (min-width: 768px){
    .info {
        display: grid;
        border: none;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

}
