#frontpage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    border: none;
}

.title h2 {
    color: rgb(184, 184, 184);
}

.info h3 {
    margin: 0;
}

.about-me h3 {
    text-decoration: underline;
    font-size: 1.25rem;
}

.data a {
    color: white;
}

.about-me a:visited {
    color: white;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.data a:hover {
    color: gray;
}

.skills-list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .5rem 1rem;
}

.skills-list li {
    white-space: nowrap;
    flex: 0;
}

.social-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.social-list li {
    margin: 0.5rem 0;
}

.social-list a {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: .25rem;
}

.social-icon {
    height: 2rem;
    color: white;
}

.view-portfolio {
    display: none;
}

@media (min-width: 768px){

    #frontpage {
        justify-content: space-evenly;
    }
    .title h1 {
        font-size: 4rem;
        margin: 1rem 0;
    }

    .title h2 {
        font-size: 2rem;
        color: rgb(184, 184, 184);
    }

    .info {
        /* width: 90%; */
        display: grid;
        border: none;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .info h3 {
        font-size: 1.5rem;
        text-decoration: underline;
    }

    .about-me p {
        font-size: 1.2rem;
    }

    .data {
        gap: 1rem;
    }

    .view-portfolio {
        display: block;
        margin: 0 auto;
        border: 1px solid white;
        padding: .5rem 1rem;
        background-color: black;
        font-size: 1.25rem;
        text-decoration: none;
        color: white;
    }

    

}
