#projects {
    color: white;
    border: none;
}

#projects h1 {
    text-decoration: underline;
} 

.projects-box h2 {
    margin-bottom: .75rem;
}

.projects-box ul {
    margin-top: .75rem;
    padding-left: 1rem;
}

@media (min-width: 768px){
    #projects {
        margin-top: 3rem;
    }

    .projects-box {
        width: 80%;
        margin: 0 auto;
    }
  }